<!DOCTYPE html>
<html>
<head>
   <title>MİLİSİA - MİLİS İLETİŞİM AĞI</title>
   <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
   <link href="/static/bootstrap/css/styles.css" rel="stylesheet">
   <script src="/static/jquery.min.js"></script>
   <script src="/static/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
	
<h2 style="color:white;">MİLİSİA - MİLİS İLETİŞİM AĞI</h2>
	<h5 style="color:white;">{{data}}</h5>
	<a href="/flist" class = "list-group-item">KAYITLI DUGUMLER</a><p>
	<a href="/" class = "list-group-item">ANASAYFA</a>  
	
</body>
</html>
