<html xml:lang="tr" lang="tr" xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>MİLİSİA - MİLİS İLETİŞİM AĞI</title>
<meta http-equiv="content-type" contentType="text/html; charset=UTF-8">
<link rel="stylesheet" href="/static/css/balloon.min.css">
<link rel="stylesheet" href="./static/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" href="./static/bootstrap/css/styles.css" />
<script src="../static/jquery.min.js"></script>
</head>

<body> 
<div class=anasablon>
	<a href="{{data}}" class = "class">KULLANICI DOSYA LİSTESİ</a>  
</div>
</body>
</HTML>
